[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 10.0

[submodule "OCA/margin-analysis"]
	path = OCA/margin-analysis
	url = git@github.com:OCA/margin-analysis.git
	branch = 10.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 10.0

[submodule "OCA/product-variant"]
	path = OCA/product-variant
	url = git@github.com:OCA/product-variant.git
	branch = 10.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 10.0

[submodule "OCA/crm"]
	path = OCA/crm
	url = git@github.com:OCA/crm.git
	branch = 10.0
